<div>
  <h3>
      User_id#: <%= user.id %>,         
      Username: <%= user.username %>, 
      Email:    <%= user.email %>,          
      Password: <%= user.password_digest %>
  </h3>
  <br>
</div>